@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #F4F4F4;
  color: #0A0A0A;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

input,
select,
textarea,
table,
.data-mono,
.mono {
  font-family: "Space Mono", monospace;
}

#root {
  min-height: 100vh;
}
